[data-md-color-primary="light"] {
    --md-default-bg-color: #FFFFFF;
    --md-default-fg-color--light: #000000;
    --md-default-fg-color--lighter: #000000;
    --md-primary-fg-color: #FFFFFF;
    --md-primary-bg-color: #000000;
    --md-footer-fg-color: #000000;
    --md-footer-bg-color: #FFFFFF;
    --md-footer-fg-color--light: #000000;
    --md-footer-bg-color--dark: #FFFFFF;
    --md-typeset-color: #000000;
    --md-typeset-a-color: #007bff;
    --md-accent-fg-color: #007bff;
}
[data-md-color-primary="dark"] {
    --md-default-bg-color: #091A28;
    --md-default-fg-color--light: #576068;
    --md-default-fg-color--lighter: #576068;
    --md-primary-fg-color: #091A28;
    --md-primary-bg-color: #576068;
    --md-footer-fg-color: #576068;
    --md-footer-bg-color: #091A28;
    --md-footer-fg-color--light: #576068;
    --md-footer-bg-color--dark: #091A28;
    --md-typeset-color: #FFFFFF;
    --md-typeset-a-color: #0066CC;
    --md-accent-fg-color: #0066CC;
}
[data-md-color-primary="sepia"] {
    --md-default-bg-color: #F1E7D0;
    --md-default-fg-color--light: #876944;
    --md-default-fg-color--lighter: #876944;
    --md-primary-fg-color: #F1E7D0;
    --md-primary-bg-color: #876944;
    --md-footer-fg-color: #876944;
    --md-footer-bg-color: #F1E7D0;
    --md-footer-fg-color--light: #876944;
    --md-footer-bg-color--dark: #F1E7D0;
    --md-typeset-color: #000000;
    --md-typeset-a-color: #0066CC;
    --md-accent-fg-color: #0066CC;
}