<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="../../vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
    requireCoverageMetadata="false">
  <coverage/>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>../../tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../../src</directory>
    </include>
  </source>
</phpunit>
